<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

    <title>HealthyMe</title>

    <!-- Bootstrap core CSS -->
    <link href="static/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Nhung custom bootstrap CSS -->
    <link href="static/dist/select/bootstrap-select.css" rel="stylesheet">
    <!--<link href="static/dist/css/nhung_special.css" rel="stylesheet">-->

    <style type="text/css">
    h1{
      font-family: 'Lobster', cursive;
      }
    h1
      .h1{font-size: 54px;
      }

    h6{
      font-family: 'Lobster', cursive;
      }
    h6
      .h6{font-size: 26px;}
      </style>
      <style>

      body {background:white url("/static/pics/banner.jpg") no repeat fixed top center;}
    </style>



    <!-- Custom styles for this template -->
    
    <script src="../static/dist/css/nhung_mods.css"></script>



    <!-- Bootstrap core JavaScript
    ================================================== -->

  <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../static/dist/js/bootstrap.min.js"></script>
    <script src="../static/dist/select/bootstrap-select.js"></script>

    <script type="text/javascript">
        $(window).on('load', function () {

            $('.selectpicker').selectpicker({
                'selectedText': 'cat'
            });

            // $('.selectpicker').selectpicker('hide');
        });
    </script>


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>


    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">

          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand"><img height=50px width=100px src="static/pics/logo_small.png"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-center">
            <li><a href="/">Home</a></li>
            <li><a href="About.html">About</a></li>
            <li class="active"><a href="slides">Slides</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    

    <div class="container col-lg-12 text-center">

      <iframe src="http://prezi.com/embed/x2y04tcxxw2t/?bgcolor=ffffff&amp;lock_to_path=0&amp;autoplay=0&amp;autohide_ctrls=0&amp;features=undefined&amp;disabled_features=undefined" width="1000" height="750" frameBorder="50"></iframe>

      </div>


</body>
</html>
